body {
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: white;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.mobile {
  display: none;
}
