@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;800&family=Noto+Sans+KR:wght@300&display=swap");

/*
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
*/

.container {
  font-family: "Noto Sans KR", sans-serif;
  display: inline-block;
  width: 100vw;
  height: 100vh;
  padding-bottom: 20px;
}

.input_form {
  font-family: "Noto Sans KR", sans-serif;
  background-color: white;
  display: inline-block;
  width: 90%;
  margin-top: 7vw;
  padding: 25px;
  box-shadow: 3px 3px 5px gray;
}

.title {
  font-family: "Noto Sans KR", sans-serif;
  text-align: left;
  font-size: 27px;
  font-weight: bold;
  margin-bottom: 15px;
}

.back_btn {
  float: right;
  font-size: 15px;
  color: gray;
  padding: 0;
  margin: 0;
}

.description {
  color: gray;
  font-size: 15px;
  text-align: left;
}

.input_box {
  border: none;
  border-bottom: 1px solid lightgray;
  margin: 15px 0;
  width: 100%;
  height: 30px;
}

.submit_btn {
  background-color: #38d39f;
  color: white;
  border: none;
  border-radius: 30px;
  width: 80%;
  height: 45px;
  margin: 10px;
  font-size: 20px;
  font-weight: 300;
}

#roleRadio1,
#roleRadio2 {
  margin-right: 5px;
}

.role_radio {
  margin: 10px;
  font-size: 16px;
}

.persistence {
  margin: 10px 0;
  float: left;
}

.forgot_password {
  margin: 10px 0;
  float: right;
  cursor: pointer;
  text-decoration: underline 1px gray;
}

.toggle_btn {
  cursor: pointer;
}

.error {
  margin-bottom: 10px;
  color: red;
  font-weight: bold;
  font-size: 14px;
}

.social_btn {
  display: inline-block;
  height: 30px;
  text-align: left;
  margin: 5px;
  padding: 0;
  font-size: 15px;
  cursor: pointer;
  border: 1px solid lightgray;
  border-radius: 30px;
  padding: 5px;
}

.social_img {
  width: 30px;
  padding: 0;
  margin-right: 5px;
  border-radius: 100%;
}

.social_login {
  float: right;
  height: 100%;
  padding: 0;
  margin: 2px;
  margin-right: 5px;
}

@media screen and (max-width: 600px) {
  .input_form {
    width: 80%;
  }
  .social_btn {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .input_form {
    max-width: 500px;
    margin: 50px 0;
  }
}
